<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xem lịch sử chuyến xe</title>
<!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/assets/trong/css/style.css">
  <link rel="stylesheet" href="/assets/trong/css/bootstrap.css">

</head>
<body>
<div class="container">
  <hr>
  <h1 style="text-align: center">{{Title}}</h1>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Tim theo ten nha xe" #txtSearch (keyup)="updatekeyword(txtSearch.value)">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Tim theo ben di" #txtSearch1 (keyup)="updatekeyword2(txtSearch1.value)">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Tim theo ben den" #txtSearch2 (keyup)="updatekeyword3(txtSearch2.value)">
        </div>
      </div>
    </div>
  <div class="row">
    <div class="panel panel-primary filterable" >
      <table class="table"  *ngIf="xemlichsulist.length !=0; else elseBlock">
        <thead>
        <tr class="filters">
          <th><input type="text" class="form-control" placeholder="#" disabled></th>
          <th><input type="text" class="form-control" placeholder="Tên nhà xe" disabled></th>
          <th><input type="text" class="form-control" placeholder="Bến đi" disabled></th>
          <th><input type="text" class="form-control" placeholder="Bến đến" disabled></th>
          <th><input type="text" class="form-control" placeholder="Thời gian" disabled></th>
          <th><input type="text" class="form-control" placeholder="Giá thành" disabled></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let xemLichSu of xemlichsulist; let i = index">
          <td>{{i+1}}</td>
          <td>{{xemLichSu.tenNhaXe}}</td>
          <td>{{xemLichSu.benDi}}</td>
          <td>{{xemLichSu.benDen}}</td>
          <td>{{xemLichSu.thoiGian}}</td>
          <td>{{xemLichSu.giaThanh}}</td>
        </tr>
        </tbody>
      </table>
      <ng-template #elseBlock>
        <h3>List is empty !</h3>
      </ng-template>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>

  </div>
  </div>
</div>
</body>
