<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xem lịch sử chuyến xe</title>
<!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/assets/trong/css/style.css">
  <link rel="stylesheet" href="/assets/trong/css/bootstrap.css">

</head>
<body>
<div class="container">
  <hr>
  <h1 style="text-align: center">{{Title}}</h1>
  <div class="row mt-4">
  <div class="row">
    <div class="panel panel-primary filterable" >
      <table class="table"  >
        <thead>
        <tr>
          <td></td>
          <td><input type="text" class="form-control" placeholder="Tim theo chuyen xe" #txtSearch (keyup)="searchMaChuyen(txtSearch.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tim theo ten nha xe" #txtSearch4 (keyup)="searchMaXe(txtSearch4.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tim theo ben di" #txtSearch1 (keyup)="searchBenDi(txtSearch1.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tim theo ben den" #txtSearch2 (keyup)="searchBenDen(txtSearch2.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tim theo thoi gian" #txtSearch3 (keyup)="searchThoiGian(txtSearch3.value)"></td>
        </tr>
        <tr class="filters">
          <th style="width: 5%"><input type="text" class="form-control" placeholder="#" disabled></th>
          <th><input type="text" class="form-control" placeholder="Tên chuyến xe" disabled></th>
          <th><input type="text" class="form-control" placeholder="Tên nhà xe" disabled></th>
          <th><input type="text" class="form-control" placeholder="Bến đi" disabled></th>
          <th><input type="text" class="form-control" placeholder="Bến đến" disabled></th>
          <th><input type="text" class="form-control" placeholder="Thời gian" disabled></th>
        </tr>
        </thead>
        <tbody *ngIf="xemlichsulist.length !=0">
        <tr *ngFor="let xemLichSu of xemlichsulist | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec}; let i = index">
          <td>{{i+1}}</td>
          <td>{{xemLichSu.maChuyen}}</td>
          <td>{{xemLichSu.xe.nhaXe.tenNhaXe}}</td>
          <td>{{xemLichSu.benDi.tenBen}}</td>
          <td>{{xemLichSu.benDen.tenBen}}</td>
          <td>{{xemLichSu.thoiGian}}</td>
        </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls style="text-align: right"  id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
  </div>
</div>
</body>
