
<div style="text-align: center" class="container">
  <h1 style="text-align: center; background: orange;margin: 30px">{{Title}}</h1>
  <div class="row mt-4">
  <div class="row">
    <div class="panel panel-primary filterable" >
      <table class="table"  >
        <thead>
        <tr>
          <td></td>
          <td><input type="text" class="form-control" placeholder="Tìm theo chuyến xe" #txtSearch (keyup)="searchMaChuyen(txtSearch.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tìm theo tên nhà xe" #txtSearch4 (keyup)="searchMaXe(txtSearch4.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tìm theo bến đi" #txtSearch1 (keyup)="searchBenDi(txtSearch1.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tìm theo bến đến" #txtSearch2 (keyup)="searchBenDen(txtSearch2.value)"></td>
          <td><input type="text" class="form-control" placeholder="Tìm theo thời gian" #txtSearch3 (keyup)="searchThoiGian(txtSearch3.value)"></td>
        </tr>
        <tr class="filters">
          <th style="width: 5%"><input type="text" class="form-control" placeholder="#" disabled></th>
          <th><input style="text-align: center" type="text" class="form-control" placeholder="Tên chuyến xe" disabled></th>
          <th><input style="text-align: center" type="text" class="form-control" placeholder="Tên nhà xe" disabled></th>
          <th><input style="text-align: center" type="text" class="form-control" placeholder="Bến đi" disabled></th>
          <th><input style="text-align: center" type="text" class="form-control" placeholder="Bến đến" disabled></th>
          <th><input style="text-align: center" type="text" class="form-control" placeholder="Thời gian" disabled></th>
        </tr>
        </thead>
        <tbody *ngIf="xemlichsulist.length !=0;else elseBlock">
        <tr *ngFor="let xemLichSu of xemlichsulist | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec}; let i = index">
          <td>{{i+1}}</td>
          <td>{{xemLichSu.maChuyen}}</td>
          <td>{{xemLichSu.xe.nhaXe.tenNhaXe}}</td>
          <td>{{xemLichSu.benDi.tenBen}}</td>
          <td>{{xemLichSu.benDen.tenBen}}</td>
          <td>{{xemLichSu.thoiGian}}</td>
        </tr>
        </tbody>
        <ng-template #elseBlock>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a>KHÔNG TÌM THẤY</a></td>
            <td></td>
            <td></td>
          </tr>
        </ng-template>
<!--        <div class="card-footer pb-0 pt-3">-->
<!--          <jw-pagination [items]="xemlichsulist" (loadstart)="onChangePage($event)"></jw-pagination>-->
<!--        </div>-->
      </table>
      <div>
        <pagination-controls previousLabel="Trước" nextLabel="Sau" style="text-align: right"  id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
  </div>
</div>

