<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   Footer
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" href="/assets/Thao/icon/fontawesome-free-5.14.0-web/css/all.css">

</head>
<body>

<!-- Footer -->
<footer style="background: #23272b; color: white" class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">THÔNG ĐIỆP</h5>
        <p>Lỡ chuyến xe này thì có thể đợi chuyến xe khác.</p>
        <p>Cuộc đời như một chuyến xe mà chúng ta là người lái, mỗi khi qua một bến,
          sẽ có người lên và người xuống. Những người lên xe cùng chúng ta
          lúc khởi hành phần nhiều giữa đường sẽ rời đi, còn người cùng chúng ta
          đến cuối hành trình thì rất ít. Thậm chí chẳng có một ai..</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">LIÊN QUAN</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a STYLE="color: white" href="#!">CHUYẾN XE</a>
            </p>
          </li>
          <li>
            <p>
              <a STYLE="color: white" href="#!">NHÀ XE</a>
            </p>
          </li>
          <li>
            <p>
              <a STYLE="color: white" href="#!">ĐÁNH GIÁ</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">ĐỊA CHỈ</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> Quảng Bình, Việt Nam</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> rams@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i>+ (84)36 899 2115</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + (84)33 454 0954 </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">LIÊN HỆ</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
<!--          <i class="fa fa-facebook"> </i>-->
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw" style="margin-top: 30px">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a style="color: red" href="#"> rams.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>
