<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <img style="border-radius: 10px" width="50px" height="40px" src="/assets/trong/img/2168281.png"
           class="btn btn-outline-light btn-floating m-1" href="#!" role="button">

      <!-- Twitter -->
      <!--      <img style="border-radius: 10px" width="50px" height="40px" src="/assets/trong/img/3128212.png" class="btn btn-outline-light btn-floating m-1" href="#!" role="button">-->

      <!-- Google -->
      <img style="border-radius: 10px" width="50px" height="40px" src="/assets/trong/img/104093.png"
           class="btn btn-outline-light btn-floating m-1" href="#!" role="button">


      <!-- Instagram -->
      <img style="border-radius: 10px" width="50px" height="40px" src="/assets/trong/img/2175198.png"
           class="btn btn-outline-light btn-floating m-1" href="#!" role="button">


      <!-- Linkedin -->
      <!--      <img style="border-radius: 10px" width="50px" height="40px" src="/assets/trong/img/61109.png" class="btn btn-outline-light btn-floating m-1" href="#!" role="button">-->


      <!-- Github -->
      <!--      <img style="border-radius: 10px" width="50px" height="40px" src="/assets/trong/img/3291667.png" class="btn btn-outline-light btn-floating m-1" href="#!" role="button">-->

    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Đăng ký tin mới</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control"/>
              <label class="form-label" for="form5Example2">Địa chỉ mail</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Đăng ký
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
  </div>

  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">

    <a class="text-white" href="timkiemtuyen">quanlytuyenxe.rams.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


