
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
  display: block;
}
ol,ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
blockquote,q {
  quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
a {
  text-decoration:none;
}
.thao-txt-rt {
  text-align:right;
}
.thao-txt-lt {
  text-align:left;
}
.thao-txt-center {
  text-align:center;
}
.thao-float-rt {
  float:right;
}
.thao-float-lt {
  float:left;
}
.thao-clear {
  clear:both;
}
.thao-pos-relative {
  position:relative;
}
.thao-pos-absolute {
  position:absolute;
}
.thao-vertical-base {
  vertical-align:baseline;
}
.thao-vertical-top {
  vertical-align:top;
}
nav.thao-vertical ul li {
  display:block;
}/* vertical menu */
nav.thao-horizontal ul li {
  display: inline-block;
}/* horizontal menu */
img {
  max-width:100%;
}

/*--- end reset code ---*/

body {
  background:url(../../../assets/Thao/Images/3.jpg) no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}
h1.thao-w3ls {
  font-size:50px;
  color:#fff;
  padding:40px 0;
  text-align:center;
  /*-- w3layouts --*/
  text-transform:uppercase;
}
.thao-content-w3ls {
  background-color:#202123;
  width:70%;
  margin:0 auto 50px;
  padding:0;
}
.thao-content-w3ls .thao-content-agile1 {
  width: 50%;
  float: left;
  background: url(../../../assets/Thao/Images/3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  height: 555px;
}
h2.thao-agileits1 {
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  text-align: Center;
  padding: 200px 0 15px;
  text-transform: uppercase;
  font-family: 'Monoton', cursive;
}
p.thao-agileits2 {
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.thao-content-w3ls .thao-content-agile2 {
  width: 50%;
  float: left;
  padding: 25px 0 0;
}
input#tendn, input#tennx, input#password1, input#password2, input#email, input#diachi, input#sodt {
  width:300px;
  height:50px;
  padding:0 15px;
  color:#fff;
  font-size:17px;
  font-weight:200;
  background-color:transparent;
  /*-- w3layouts --*/
  border-bottom:5px solid #fff;
  border-top-color:transparent;
  border-left-color:transparent;
  border-right-color:transparent;
  font-family: 'Raleway', sans-serif;
  margin:0 auto 20px;
  display:block;
  outline:none;
}
input#tennx:focus,input#tendn:focus,input#password1:focus,input#password2:focus,input#sodt:focus,input#email:focus,input#diachi:focus,input#tennx:hover,input#tendn:hover,input#password1:hover,input#password2:hover,input#sodt:hover,input#email:hover,input#diachi:hover {
  color:#fff;
  border-bottom:5px solid #3970b0;
}
input::-webkit-input-placeholder {
  color: #fff !important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}
input::-moz-placeholder {  /* Firefox 19+ */
  color: #fff !important;
}
input:-ms-input-placeholder {
  color: #fff !important;
}
input:hover::-webkit-input-placeholder {
  color: #3970b0 !important;
}
input:hover:-moz-placeholder { /* Firefox 18- */
  color:	#3970b0 !important;
}
input:hover::-moz-placeholder {  /* Firefox 19+ */
  color: #3970b0 !important;
}
input:hover:-ms-input-placeholder {
  color: #3970b0 !important;
}
input.thao-register {
  width: 335px;
  margin: 30px auto;
  display: block;
  height: 50px;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  background-color:#3970b0;
  border-color: transparent;
  font-family: 'Raleway', sans-serif;
  /*-- w3ls --*/
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  cursor:pointer;
}
input.thao-register:hover {
  color: #fff;
  background-color:#3970b0;
}
p.thao-wthree {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
}
ul.thao-social-agileinfo {
  text-align: center;
}
ul.thao-social-agileinfo li {
  display:inline-block;
  margin:0;
}
ul.thao-social-agileinfo li a i.fa {
  width:40px;
  height:40px;
  border:1px solid #fff;
  text-align:center;
  line-height:40px;
  color:#fff;
}
ul.thao-social-agileinfo li a i.fa.fa-facebook:hover {
  background-color:#3b5998;
  color:#fff;
  border-color:#3b5998;
}
ul.thao-social-agileinfo li a i.fa.fa-twitter:hover {
  background-color:#1da1f2;
  color:#fff;
  border-color:#1da1f2;
}
ul.thao-social-agileinfo li a i.fa.fa-youtube:hover {
  background-color:#cd201f;
  color:#fff;
  border-color:#cd201f;
}
ul.thao-social-agileinfo li a i.fa.fa-google-plus:hover {
  /*-- w3ls --*/
  background-color:#dd4b39;
  color:#fff;
  border-color:#dd4b39;
}
ul.thao-social-agileinfo li a i.fa:hover {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p.thao-copyright {
  font-size: 16px;
  text-align: center;
  color: #dadada;
  line-height: 30px;
  padding: 20px 10px;
}
p.thao-copyright a {
  color:#f15f22;
}
p.thao-copyright a:hover {
  color:#36b051;
}

/*-- responsive design --*/
@media (max-width:1600px) {
  h2.thao-agileits1 {
    padding: 225px 0 15px;
  }
}

@media (max-width: 1366px) {
  h2.thao-agileits1 {
    padding: 235px 0 15px;
  }
}

@media (max-width: 1080px) {
  /*-- agileits --*/
  h1.thao-w3ls {
    font-size: 40px;
  }
  .thao-content-w3ls {
    width:80%;
    margin: 0 auto 40px;
  }
  p.thao-agileits2 {
    font-size: 14px;
  }
  p.thao-copyright {
    font-size: 14px;
  }
  p.thao-wthree {
    font-size: 14px;
  }
  input#tendn, input#tennx, input#password1, input#email, input#diachi, input#sodt, input#password2 {
    font-size:15px;
  }
}

@media (max-width: 1024px) {
  h1.thao-w3ls {
    padding: 30px 0;
    font-size:35px;
  }
}

@media (max-width: 991px) {
  h2.thao-agileits1 {
    padding: 230px 0 15px;
  }
  .thao-content-w3ls {
    width: 90%;
  }
}

@media (max-width: 800px) {
  input#tendn, input#tennx, input#password1, input#email, input#diachi, input#sodt, input#password2{
    width: 260px;
  }
  input.thao-register {
    width: 295px;
  }
  p.thao-agileits2 {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
  }
  /*-- agileits --*/
}

@media (max-width: 768px) {
  h2.thao-agileits1 {
    padding: 210px 0 15px;
  }
}

@media (max-width: 736px) {
  .thao-content-w3ls .thao-content-agile1 {
    width: 100%;
    height:250px;
  }
  h2.thao-agileits1 {
    padding: 75px 0 15px;
  }
  .thao-content-w3ls .thao-content-agile2 {
    width: 100%;
    padding: 25px 0 30px;
  }
  .thao-content-w3ls {
    width: 65%;
  }
}

@media (max-width: 600px) {
  h2.thao-agileits1 {
    padding: 65px 0 10px;
  }
}

@media (max-width: 568px) {
  .thao-content-w3ls {
    width: 70%;
  }
}

@media (max-width: 480px) {
  h2.thao-agileits1 {
    font-size: 35px;
  }
}

@media (max-width: 414px) {
  h1.thao-w3ls {
    padding: 25px 0;
    font-size: 30px;
  }
  .thao-content-w3ls {
    /*-- agileinfo --*/
    width: 85%;
    margin: 0 auto 10px;
  }
}

@media (max-width: 384px) {
  input#tendn, input#tennx, input#password1,input#password2,input#email, input#diachi, input#sodt {
    width: 230px;
    height: 40px;
  }
  input.thao-register {
    width: 260px;
    height:45px;
  }
  p.thao-wthree {
    font-size: 14px;
    padding: 0 15px 20px;
    line-height: 30px;
  }
}

@media (max-width: 375px) {
  h1.thao-w3ls {
    padding: 25px 0;
    font-size: 27px;
  }
  h2.thao-agileits1 {
    font-size: 25px;
    padding: 43px 0 10px;
  }
  .thao-content-w3ls .thao-content-agile1 {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 320px) {
  h1.thao-w3ls {
    padding: 25px 0;
    font-size: 24px;
  }
  .thao-content-w3ls .thao-content-agile1 {
    width: 100%;
    height: 180px;
  }
  h2.thao-agileits1 {
    font-size: 22px;
    padding: 37px 0 10px;
  }
  /*-- agileinfo --*/
  p.thao-agileits2 {
    font-size: 13px;
  }
  input#tendn, input#tennx, input#password1,input#password2, input#email, input#diachi, input#sodt  {
    width: 195px;
    height: 40px;
    font-size: 14px;
  }
  .thao-content-w3ls {
    width: 90%;
    margin: 0 auto;
  }
  input.thao-register {
    width: 230px;
    height: 40px;
    font-size:15px;
  }
  p.thao-wthree {
    font-size: 13px;
    padding: 0 15px 15px;
  }
  p.thao-copyright {
    font-size: 13px;
  }
}
