
<div id="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div id="formcontainer"><img>
      <p id="text">Nhập Email</p> <input formControlName="email" id="email" type="email" type="tel" placeholder="Email đăng ký">
      <br>
      <div *ngIf="isSubmited then submited else notsubmited"></div>
      <ng-template #notsubmited>
        <button class="btn btn-lg btn-primary text-uppercase" type="submit" style="margin-left: 51px">Gửi mail xác nhận</button>
        <button class="btn btn-lg btn-primary text-uppercase" type="submit" style="margin-left: 70px">Hủy</button>
      </ng-template>
      <ng-template #submited>
        <button class="btn btn-lg btn-primary text-uppercase" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          .....
        </button>
      </ng-template>
      <button onclick="testAlertDialog()">Click me!</button>
            <input type="submit" id="login" value="Gửi Xác Nhận Email">
            <input type="submit" id="login" value="Hủy">
          <label class="hvr-sweep-to-right" style="margin-bottom: 15px">
            <input type="submit" value="Đăng nhập">
          </label>
    </div>
  </form>
</div>
<!--<script type="text/javascript">-->

<!--  function testAlertDialog()  {-->

<!--    alert("Something Error!");-->
<!--  }-->

<!--</script>-->

