<h1 class="thao-w3ls" style="color: black">ĐĂNG KÝ</h1>
<div data-ahihi class="thao-content-w3ls">
  <div class="thao-content-agile1">
    <h2 class="thao-agileits1">Official</h2>
    <p class="thao-agileits2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="thao-content-agile2">
        <form [formGroup]="formRegStudent" (ngSubmit)="onSubmit()" action="#" method="post">

          <div class="thao-form-control thao-w3layouts">
          <input formControlName="ten" id="tennx"  type="text"   placeholder="Tên"  >
          <div *ngFor="let validation of validation_messages.ten">
            <small class="text-danger"
                   *ngIf="formRegStudent.get('ten')!.hasError(validation.type) && formRegStudent.get('ten')!.touched">
              {{validation.message}}</small>
          </div>
          </div>

          <div class="thao-form-control thao-w3layouts">
          <input formControlName="username"  id="tendn" type="text"   placeholder="Tên Đăng Nhập"  >
          <div *ngFor="let validation of validation_messages.username">
            <small class="text-danger"
                   *ngIf="formRegStudent.get('username')!.hasError(validation.type) && formRegStudent.get('username')!.touched">
              {{validation.message}}</small>
          </div>
          </div>

          <div class="thao-form-control thao-w3layouts">
            <input formControlName="password" id="password1" type="password"  placeholder="Mật khẩu ">
            <div *ngFor="let validation of validation_messages.password">
              <small class="text-danger"
                     *ngIf="formRegStudent.get('password')!.hasError(validation.type) && formRegStudent.get('password')!.touched">
                {{validation.message}}</small>
            </div>
          </div>

          <div class="thao-form-control thao-w3layouts">
            <input formControlName="re_password" id="password2" type="password"  placeholder="Nhập lại mật khẩu ">
            <div *ngFor="let validation of validation_messages.re_password">
              <small class="text-danger"
                     *ngIf="formRegStudent.get('re_password')!.hasError(validation.type) && formRegStudent.get('re_password')!.touched">
                {{validation.message}}</small>
            </div>
          </div>

          <div class="thao-form-control thao-w3layouts">
            <input formControlName="email" type="text" id="email"  placeholder=" Email" >
            <div *ngFor="let validation of validation_messages.email">
              <small class="text-danger"
                     *ngIf="formRegStudent.get('email')!.hasError(validation.type) && formRegStudent.get('email')!.touched">
                {{validation.message}}</small>
            </div>
          </div>

          <div class="thao-form-control thao-w3layouts">
            <input formControlName="phone" type="text"  id="sodt"  placeholder="Số Điện thoại">
            <div *ngFor="let validation of validation_messages.phone">
              <small class="text-danger"
                     *ngIf="formRegStudent.get('phone')!.hasError(validation.type) && formRegStudent.get('phone')!.touched">
                {{validation.message}}</small>
            </div>
          </div>

          <div class="thao-form-control thao-w3layouts">
          <input formControlName="address" type="text"  id="diachi" placeholder="Địa Chỉ ">
          <div *ngFor="let validation of validation_messages.address">
            <small class="text-danger"
                   *ngIf="formRegStudent.get('address')!.hasError(validation.type) && formRegStudent.get('address')!.touched">
              {{validation.message}}</small>
          </div>
          </div>

          <div class="custom-control custom-checkbox">
          </div>
          <label class="hvr-sweep-to-right">
            <input type="submit" value="Đăng ký">
          </label>
        </form>
        <p>Bạn đã có tài khoản? <a href="/login">Đăng nhập</a></p>
      </div>
    </div>

