<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">ĐĂNG NHẬP</h5>
          <form class="form-signin"
                *ngIf="!isLoggedIn"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>

            <div class="form-label-group">
              <input
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
                type="text" id="" class="form-control" placeholder="Tài Khoản" required autofocus>
              <label role="alert"
                     *ngIf="f.submitted && username.invalid">Tài Khoản bắt buộc</label>
            </div>
            <div class="form-label-group">
              <input
                name="password"
                [(ngModel)]="form.password"
                maxlength = "50"
                required
                #password="ngModel"
                type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" >
              <label for="inputPassword" role="alert"
                     *ngIf="f.submitted && password.invalid">Mật khẩu bắt buộc</label>
<!--              <div *ngIf="password.errors.maxlength">-->
<!--                Password must be at least 50 characters-->
<!--              </div>-->
            </div>


            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label style="padding-left: 20px" class="custom-control-label" for="customCheck1">Nhớ mật khẩu</label>
              <a routerLink="/password" >Quên mật khẩu</a>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng nhập</button>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Đăng nhập với Google</button>
            <button class="btn btn-lg btn-facebook btn-block alert-danger text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i>Đăng nhập với Facebook</button>
          </form>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Logged in as {{ roles }}.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


