<h1 class="thao-w3ls" style="color: black">ĐĂNG KÝ</h1>
<div data-ahihi class="thao-content-w3ls">
  <div class="thao-content-agile1">
    <h2 class="thao-agileits1">Official</h2>
    <p class="thao-agileits2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="thao-content-agile2">
    <form  [formGroup]="formdknhaxe" (ngSubmit)="onSubmit()" action="#" method="post">
      <div class="thao-form-control thao-w3layouts">
        <input type="text" id="tennx" placeholder="Tên nhà xe" formControlName="tennx">
        <div *ngFor="let validation of validation_messages.tennx">
          <small class="text-danger"
                 *ngIf="formdknhaxe.get('tennx')!.hasError(validation.type) && formdknhaxe.get('tennx')!.touched">
            {{validation.message}}</small>
        </div>
      </div>

      <div class="thao-form-control thao-w3layouts">
        <input
          type="text" id="tendn"  placeholder="Tên đăng nhập" title="Please enter your " formControlName="username">
        <div *ngFor="let validation of validation_messages.username">
          <small class="text-danger"
                 *ngIf="formdknhaxe.get('username')!.hasError(validation.type) && formdknhaxe.get('username')!.touched">
            {{validation.message}}</small>
        </div>
      </div>

      <div class="thao-form-control thao-w3layouts">
        <input type="password" id="password1"  placeholder="Mật khẩu" formControlName="password">
        <div *ngFor="let validation of validation_messages.password">
          <small class="text-danger"
                 *ngIf="formdknhaxe.get('password')!.hasError(validation.type) && formdknhaxe.get('password')!.touched">
            {{validation.message}}</small>
        </div>
      </div>

      <div class="thao-form-control thao-w3layouts">
        <input type="password" id="password2"  placeholder="Nhập lại mật khẩu" formControlName="re_password">
        <div *ngFor="let validation of validation_messages.re_password">
          <small class="text-danger"
                 *ngIf="formdknhaxe.get('re_password')!.hasError(validation.type) && formdknhaxe.get('re_password')!.touched">
            {{validation.message}}</small>
        </div>
      </div>

      <div class="thao-form-control thao-w3layouts">
        <input type="tel" id="sodt"  placeholder="Số điện thoại" formControlName="phone">
        <div *ngFor="let validation of validation_messages.phone">
          <small class="text-danger"
                 *ngIf="formdknhaxe.get('phone')!.hasError(validation.type) && formdknhaxe.get('phone')!.touched">
            {{validation.message}}</small>
        </div>
      </div>

      <div class="thao-form-control thao-w3layouts">
        <input type="email" id="email"  placeholder="Email" formControlName="email">
        <div *ngFor="let validation of validation_messages.email">
          <small class="text-danger"
                 *ngIf="formdknhaxe.get('email')!.hasError(validation.type) && formdknhaxe.get('email')!.touched">
            {{validation.message}}</small>
        </div>
      </div>

      <div class="thao-form-control thao-w3layouts">
        <input type="text" id="diachi" placeholder="Địa chỉ" formControlName="address">
        <div *ngFor="let validation of validation_messages.address">
          <small class="text-danger"
                 *ngIf="formdknhaxe.get('address')!.hasError(validation.type) && formdknhaxe.get('address')!.touched">
            {{validation.message}}</small>
        </div>
      </div>

      <div class="custom-control custom-checkbox">
      </div>
      <label class="hvr-sweep-to-right">
        <input type="submit" value="Đăng ký">
      </label>
    </form>
  <p>Bạn đã có tài khoản? <a href="/login">Đăng nhập</a></p>
    <div class="thao-clear">
    </div>
  </div>
</div>
