
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 60px; margin-bottom: 0px">
  <a class="img" href="timkiemtuyen">
    <img src="/assets/../assets/trong/img/horizontal_on_white_by_logaster.png" height="60" width="165"/>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <ul style="font-size: 16pt !important; font-family: Trebuchet MS; list-style-type: none" class="form-inline my-2 my-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="timkiemtuyen">Trang Chủ </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="xemlichsu" *ngIf="isLoggedIn && (isTruyVet || isNhaXe || isNhaXe)">Tìm Kiếm</a>
      </li>
      <li style="list-style-type: none" class="nav-item">
        <a class="nav-link" href="dangnhap" *ngIf="!isLoggedIn">Đăng nhập</a>
      </li>
      <li style="list-style-type: none" class="nav-item">
        <a class="nav-link" href="qlnguoidung"*ngIf="isLoggedIn && (isAdmin || isNhaXe) ">Quản lý</a>
      </li>
      <li style="list-style-type: none" class="nav-item">
        <a class="nav-link" href="dangky"*ngIf="!isLoggedIn">Đăng ký nhà xe</a>
      </li>
      <li style="list-style-type: none" class="nav-item">
        <a class="nav-link" href="dangkyuser"*ngIf="!isLoggedIn">Đăng ký người dùng</a>
      </li>
      <li style="list-style-type: none" class="nav-item">
        <a class="nav-link" href=""*ngIf="isLoggedIn" (click)="logout()">Đăng xuất</a>
      </li>
    </ul>
  </div>
</nav>
<!--</body>-->

