<nav style="z-index: 10000000;"  class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg"  color-on-scroll="100" id="sectionsNav">
  <!-- navbar-color-on-scroll  fixed-top  navbar-expand-lg-->
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#">
        RAMS </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class=" nav-item">
          <a href="#" class=" nav-link" >Trang chủ
          </a>
        </li>
        <li class=" nav-item">
          <a href="xemlichsu" class=" nav-link" *ngIf="isLogged && (isTruyVet || isNhaXe || isNhaXe)">Lịch sử chuyến
          </a>
        </li>
        <li class=" nav-item">
          <a href="qlnguoidung" class=" nav-link"*ngIf="isLogged && (isAdmin || isNhaXe) ">Quản lý
          </a>
        </li>
        <li class="nav-item">
          <a href="dangkyuser" class="nav-link" *ngIf="!isLogged"> Đăng ký nhà xe </a>
        </li>
        <li class="nav-item">
          <a href="dangky" class="nav-link" *ngIf="!isLogged">Đăng ký người dùng </a>
        </li>
<!--        <ul class="navbar-nav ml-auto" >-->
          <li class="nav-item disabled" *ngIf="isLogged">
            <a class="nav-link" >
              {{userLogged.name}}
              {{userLogged.username}}
            </a>
          </li>
        <img *ngIf="isLogged && userLogged.photoUrl" src="{{userLogged.photoUrl}}" class="rounded-circle mr-3" style="width: 50px">
        <a *ngIf="!isLogged" style="width: 150px;" routerLink="/dangnhap" class="btn btn-rose btn-round btn-block XXsnipcss_extracted_selector_selectionXX">
          <i class="material-icons">face</i> Đăng nhập
        </a>

        <button (click)="logOut()" style="width: 150px;" *ngIf="isLogged" type="submit" style="background-color:#7a43b6" target="_blank" class="btn  btn-rose   btn-round btn-block">
          <i class="material-icons">face</i> Đăng xuất
        </button>

<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
